h1 {
    color: #B5A642;
    font-size: 40px;
}

h3 {
    font-size:26px;
}

p {
    font-size: 18px;
}

img {
    height: 50px;
    width: 50px;
    margin: 5px;
}
#instructions {
    position: relative;
    width:700px;
    height:300px;
}

#bg {
    background-color:#666;
    opacity: 0.3;
    position: absolute;
    width:100%;
    height:100%;
    padding:20px;
}

#text {
    position: absolute;
    width:100%;
    height:100%;
    padding: 20px;
}

#sumTxt {
    display: block;
    margin-top: 40px;
    margin-left: 90px;
}

#sumBox {
    height: 150px;
    width: 150px;
    background-color: darkkhaki;
    position: absolute;
    left: 50px;
}

#scoreBox {
    height: 150px;
    width: 100px;
    background-color: lightgreen;
    position: absolute;
    left: 400px;
    bottom: 195px;
}

#numBox {
    height: 150px;
    width: 150px;
    background-color: wheat;
    margin-top: 60px;
    margin-bottom: 20px;
    position:relative;
    left:50px;
}

#attribute {
    font-size: 10px;
    color: #666;
    text-decoration: none;
    align-content: center;
}

#footer{
    background-color: gainsboro;
    height:20px;
    width: 100%;
    padding-top: 10px;
    bottom:0;
    position: fixed;
    text-align: center;
    margin-top: 20px;
}